
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

<mat-drawer-container class="example-container" autosize style="background-color: black">
  <mat-drawer #drawer class="example-sidenav" mode="side" style="background-color: black">
    <app-side-nav-content [drawer]="drawer" (close)="toggleFromChild($event)"></app-side-nav-content>
  </mat-drawer>

  <div id="Home" class="example-sidenav-content">
    <div class="image-placement">
      <img class="animate-image" src="assets/giga-removebg-preview.png">
    </div>
    <div class="descriptionPlacement-1">
      <div class="shadow">
        <p class="descriptionContent">
          Hi, my name is <span class="highlight">Andy Lam Nguyen</span>
        </p>
        <br>
        <p class="descriptionContent">
          I'm a <span class="highlight">Full Stack Developer</span> from Denmark
        </p>
        <br>
        <p class="descriptionContent">
          Eager to learn!
        </p>
      </div>
    </div>

    <div class="btn-placement">
      <div *ngIf="close;else open">
        <button class="open-drawer-btn" (click)="drawer.toggle(); toggleClose()" matTooltip="Click to navigate">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <ng-template #open>
        <button class="open-drawer-btn" (click)="drawer.toggle(); toggleClose()" matTooltip="Click to navigate">
          <mat-icon>menu</mat-icon>
        </button>
      </ng-template>
    </div>
  </div>

  <div class="newComponent" style="height: 150%">
    <app-about id="About"></app-about>
  </div>

  <div class="quoteComponent">
    <app-quote [index]="0"></app-quote>
  </div>

  <div class="newComponent" style="height: 130%">
    <app-skills id="Skills"></app-skills>
  </div>

  <div class="quoteComponent">
    <app-quote [index]="1"></app-quote>
  </div>

  <div class="newComponent">
    <app-projects id="Projects"></app-projects>
  </div>

  <div class="quoteComponent">
    <app-quote [index]="2"></app-quote>
  </div>

  <div class="newComponent">
    <app-contact id="Contact"></app-contact>
  </div>

  <div class="footer">
    <div class="left"><a href="https://www.linkedin.com/in/andy-lam-nguyen-09b875226/" target="_blank"><i class="devicon-linkedin-plain"></i></a></div>
    <div class="right"><a href="https://github.com/Andylaa10" target="_blank"><i class="devicon-github-original"></i></a></div>
    <div class="copyright"><span>© ANDY LAN NGUYEN</span></div>
  </div>

</mat-drawer-container>

