<mat-drawer-container class="example-container" autosize style="background-color: black">
  <mat-drawer #drawer class="example-sidenav" mode="side" style="background-color: black">
    <p>Navigate to id</p>
    <mat-vertical-stepper class="stepper" #stepper [animationDuration]="'2000'">

      <mat-step matTooltip="Info about the action" matTooltipPosition="after">
        <ng-template matStepperIcon="home">
          <mat-icon>home</mat-icon>
        </ng-template>
        <ng-template matStepLabel>
          <div class="stepper-label">Home</div>
        </ng-template>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>
          <div class="stepper-label">About</div>
        </ng-template>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>
          <div class="stepper-label">Projects</div>
        </ng-template>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>
          <div class="stepper-label">Skills</div>
        </ng-template>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>
          <div class="stepper-label">Contact</div>
        </ng-template>
      </mat-step>


    </mat-vertical-stepper>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="image-placement">
      <img class="animate-image" src="assets/giga-removebg-preview.png">
    </div>
    <div class="btn-placement">
      <button class="open-drawer-btn" (click)="drawer.toggle()">Navigate</button>
    </div>
  </div>
</mat-drawer-container>
