<style>
  @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
</style>

<div class="headerPlacement">
  <span #myDiv></span>
</div>

<div class="bodyPlacement">
  <div class="grid-container">
    <div class="grid-child">
      <p>
        I’m a <span>problem solver</span> first and a <span>full stack and mobile developer</span> second.
        Presently, I am 22 years old, born in <span>Esbjerg, Denmark</span> in 2001. My journey into programming started in August 2021 when I enrolled as a computer science student at <span>EASV (Erhvervsakademi Sydvest).</span>
        Upon completion of my studies in 2024, my intention is to pursue further education in <span>software development</span> at EASV.
      </p>
    </div>
    <div class="grid-child">
      <p>
        In my spare time, I dedicate a substantial amount of my schedule to <span>weightlifting</span> at the gym.
        Additionally, I have previously engaged in football, an experience that has honed my qualities as an <span>effective team player</span> and improved my <span>communication skills.</span>
        <br>
        <br>
        My character can be described as a <span>positive and friendly person</span> with good social skills.
        When it comes to work, I have a <span>strong work ethic</span> and enjoy tackling problems in <span>creative and innovative ways.</span>
        As a <span>collaborative</span> team member, I am always prepared to <span>assist</span> my colleagues and <span>eager</span> to learn from their expertise.
      </p>
    </div>
  </div>
</div>
